$bsu-utils-margin: 4px;


#bsu-anim-vis {
  margin-top: 1rem;

  .ui {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .form-group {
      margin-bottom: 0.2rem;
    }
    .col-form-label {
      text-align: right;
      font-size: 18px;
      font-weight: bold;
    }
  }

}